In [8]:
import pandas as pd
df=pd.read_csv("C:\infosys project\health_fitness_dataset.csv")
df

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687696,3000,2024-12-19,38,F,165.7,112.9,Basketball,44,Medium,13.2,...,6,6911,1.9,20.7,66.5,127.0,75.5,NaN,Never,17.13
687697,3000,2024-12-20,38,F,165.7,113.1,Basketball,25,Low,6.3,...,6,8932,2.6,20.7,66.5,127.0,75.5,NaN,Never,17.16
687698,3000,2024-12-21,38,F,165.7,113.4,Yoga,97,Low,9.1,...,8,8864,1.8,20.7,66.5,127.0,75.5,NaN,Never,17.26
687699,3000,2024-12-22,38,F,165.7,113.6,Basketball,108,Medium,32.6,...,4,7455,2.1,20.7,66.5,127.0,75.5,NaN,Never,17.39
687700,3000,2024-12-23,38,F,165.7,113.9,Yoga,29,High,3.8,...,2,9737,2.0,20.7,66.5,127.0,75.5,NaN,Never,17.43

In [10]:
df.head()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33

In [11]:
df.tail()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
687696,3000,2024-12-19,38,F,165.7,112.9,Basketball,44,Medium,13.2,...,6,6911,1.9,20.7,66.5,127.0,75.5,NaN,Never,17.13
687697,3000,2024-12-20,38,F,165.7,113.1,Basketball,25,Low,6.3,...,6,8932,2.6,20.7,66.5,127.0,75.5,NaN,Never,17.16
687698,3000,2024-12-21,38,F,165.7,113.4,Yoga,97,Low,9.1,...,8,8864,1.8,20.7,66.5,127.0,75.5,NaN,Never,17.26
687699,3000,2024-12-22,38,F,165.7,113.6,Basketball,108,Medium,32.6,...,4,7455,2.1,20.7,66.5,127.0,75.5,NaN,Never,17.39
687700,3000,2024-12-23,38,F,165.7,113.9,Yoga,29,High,3.8,...,2,9737,2.0,20.7,66.5,127.0,75.5,NaN,Never,17.43

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687701 entries, 0 to 687700
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   participant_id            687701 non-null  int64
 1   date                      687701 non-null  object
 2   age                       687701 non-null  int64
 3   gender                    687701 non-null  object
 4   height_cm                 687701 non-null  float64
 5   weight_kg                 687701 non-null  float64
 6   activity_type             687701 non-null  object
 7   duration_minutes          687701 non-null  int64
 8   intensity                 687701 non-null  object
 9   calories_burned           687701 non-null  float64
 10  avg_heart_rate            687701 non-null  int64
 11  hours_sleep               687701 non-null  float64
 12  stress_level              687701 non-null  int64
 13  daily_steps               687701 non-null  int64
 14  hydration_level           687701 non-null  float64
 15  bmi                       687701 non-null  float64
 16  resting_heart_rate        687701 non-null  float64
 17  blood_pressure_systolic   687701 non-null  float64
 18  blood_pressure_diastolic  687701 non-null  float64
 19  health_condition          197426 non-null  object
 20  smoking_status            687701 non-null  object
 21  fitness_level             687701 non-null  float64
dtypes: float64(10), int64(6), object(6)
memory usage: 115.4+ MB

In [13]:
df.shape

(687701, 22)

In [14]:
df.describe()

,participant_id,age,height_cm,weight_kg,duration_minutes,calories_burned,avg_heart_rate,hours_sleep,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,fitness_level
count,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000,687701.000000
mean,1499.781828,41.658602,168.587699,94.921981,70.011671,15.381302,131.454165,7.048799,5.252389,8628.370918,2.499427,22.733134,70.010547,120.001260,80.188079,9.524900
std,865.997215,13.581770,9.140811,22.461801,29.147251,9.985552,17.814744,0.972068,2.770029,2054.756608,0.579050,3.568383,5.074563,10.008917,8.239418,5.502485
min,1.000000,18.000000,145.000000,45.300000,20.000000,0.800000,82.000000,4.000000,1.000000,-419.000000,1.500000,14.200000,51.100000,78.000000,53.700000,0.020000
25%,749.000000,30.000000,161.700000,78.200000,45.000000,7.800000,118.000000,6.400000,3.000000,7203.000000,2.000000,20.100000,66.500000,113.100000,74.600000,4.770000
50%,1499.000000,42.000000,168.200000,94.600000,70.000000,13.000000,130.000000,7.000000,5.000000,8607.000000,2.500000,22.400000,70.000000,120.200000,80.100000,9.510000
75%,2249.000000,53.000000,175.300000,110.500000,95.000000,20.700000,144.000000,7.700000,8.000000,10027.000000,3.000000,25.100000,73.500000,127.000000,85.700000,14.230000
max,3000.000000,64.000000,198.500000,188.400000,120.000000,92.000000,206.000000,10.000000,10.000000,17241.000000,3.500000,38.800000,87.100000,152.700000,112.100000,21.930000

In [15]:
df['daily_steps']

0          7128
1          7925
2          7557
3         11120
4          5406
          ...
687696     6911
687697     8932
687698     8864
687699     7455
687700     9737
Name: daily_steps, Length: 687701, dtype: int64

In [24]:
df.columns

Index(['participant_id', 'date', 'age', 'gender', 'height_cm', 'weight_kg',
       'activity_type', 'duration_minutes', 'intensity', 'calories_burned',
       'avg_heart_rate', 'hours_sleep', 'stress_level', 'daily_steps',
       'hydration_level', 'bmi', 'resting_heart_rate',
       'blood_pressure_systolic', 'blood_pressure_diastolic',
       'health_condition', 'smoking_status', 'fitness_level'],
      dtype='object')

In [ ]:
# data cleaning

In [34]:
df.dtypes

participant_id                int64
date                         object
age                           int64
gender                       object
height_cm                   float64
weight_kg                   float64
activity_type                object
duration_minutes              int64
intensity                    object
calories_burned             float64
avg_heart_rate                int64
hours_sleep                 float64
stress_level                  int64
daily_steps                   int64
hydration_level             float64
bmi                         float64
resting_heart_rate          float64
blood_pressure_systolic     float64
blood_pressure_diastolic    float64
health_condition             object
smoking_status               object
fitness_level               float64
dtype: object

In [35]:
df.isnull()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
687700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [36]:
df.isnull().sum()

participant_id                   0
date                             0
age                              0
gender                           0
height_cm                        0
weight_kg                        0
activity_type                    0
duration_minutes                 0
intensity                        0
calories_burned                  0
avg_heart_rate                   0
hours_sleep                      0
stress_level                     0
daily_steps                      0
hydration_level                  0
bmi                              0
resting_heart_rate               0
blood_pressure_systolic          0
blood_pressure_diastolic         0
health_condition            490275
smoking_status                   0
fitness_level                    0
dtype: int64

In [37]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
687696    False
687697    False
687698    False
687699    False
687700    False
Length: 687701, dtype: bool

In [45]:
df['gender'].str.strip().str.lower()

0         f
1         f
2         f
3         f
4         f
         ..
687696    f
687697    f
687698    f
687699    f
687700    f
Name: gender, Length: 687701, dtype: object

In [30]:
df.dtypes

participant_id                int64
date                          int64
age                           int64
gender                       object
height_cm                   float64
weight_kg                   float64
activity_type                object
duration_minutes              int64
intensity                    object
calories_burned             float64
avg_heart_rate                int64
hours_sleep                 float64
stress_level                  int64
daily_steps                   int64
hydration_level             float64
bmi                         float64
resting_heart_rate          float64
blood_pressure_systolic     float64
blood_pressure_diastolic    float64
health_condition             object
smoking_status               object
fitness_level               float64
date_int                      int64
dtype: object

In [31]:
 df.dropna()

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level,date_int
1164,6,1,61,M,178.6,50.3,Swimming,71,Medium,8.3,...,6144,3.3,15.7,68.7,123.0,78.0,Diabetes,Never,0.09,0
1165,6,1,61,M,178.6,50.5,Cycling,82,Low,9.7,...,9699,2.2,15.7,68.7,123.0,78.0,Diabetes,Never,0.17,0
1166,6,1,61,M,178.6,50.8,Cycling,100,High,16.7,...,10285,2.1,15.7,68.7,123.0,78.0,Diabetes,Never,0.31,0
1167,6,1,61,M,178.6,51.0,Dancing,23,Low,1.8,...,9453,1.6,15.7,68.7,123.0,78.0,Diabetes,Never,0.33,0
1168,6,1,61,M,178.6,51.3,Cycling,80,Medium,11.6,...,10808,2.6,15.7,68.7,123.0,78.0,Diabetes,Never,0.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687238,2998,1,24,M,170.1,124.9,HIIT,117,Medium,58.3,...,11552,1.9,23.8,68.1,108.4,96.0,Hypertension,Never,17.65,0
687239,2998,1,24,M,170.1,125.2,HIIT,43,High,25.1,...,6510,3.5,23.8,68.1,108.4,96.0,Hypertension,Never,17.71,0
687240,2998,1,24,M,170.1,125.4,HIIT,86,Medium,43.1,...,5807,2.0,23.8,68.1,108.4,96.0,Hypertension,Never,17.81,0
687241,2998,1,24,M,170.1,125.7,HIIT,20,High,11.7,...,9449,1.9,23.8,68.1,108.4,96.0,Hypertension,Never,17.84,0
687242,2998,1,24,M,170.1,125.9,HIIT,61,Medium,30.7,...,8935,1.7,23.8,68.1,108.4,96.0,Hypertension,Never,17.91,0

In [32]:
df.to_csv("health_fitness_dataset.csv", index=False)

In [35]:
#preprocessing
# Example: average calories burned by gender and activity type
df.pivot_table(
    index='gender',
    columns='activity_type',
    values='calories_burned',
    aggfunc='mean'
)

activity_type,Basketball,Cycling,Dancing,HIIT,Running,Swimming,Tennis,Walking,Weight Training,Yoga
gender,,,,,,,,,,
F,15.719934,16.760733,10.838120,23.489462,19.325924,13.787798,14.41544,7.486723,11.787514,5.923496
M,19.036846,20.294828,13.162793,28.543440,23.321156,16.597931,17.29571,8.989715,14.308404,7.098596
Other,17.425432,18.837193,11.661413,25.351865,21.503882,14.991654,15.78201,8.331030,12.807640,6.554989